src/app/media
src/app/static/audio
src/app/static/clone audio
src/app/static/user_saved
src/app/static/videos
src/app/db.sqlite3
src/app/examples/migrations/__pycache__/__init__.cpython-38.pyc
src/app/examples/migrations/__pycache__/__init__.cpython-39.pyc
src/app/examples/migrations/__pycache__/0001_initial.cpython-38.pyc
src/app/examples/migrations/__pycache__/0001_initial.cpython-39.pyc
src/app/examples/migrations/__pycache__/0002_example_preview.cpython-38.pyc
src/app/examples/migrations/__pycache__/0002_example_preview.cpython-39.pyc
src/app/examples/migrations/__pycache__/0003_alter_example_generated_video_and_more.cpython-38.pyc
src/app/examples/migrations/__pycache__/0003_alter_example_generated_video_and_more.cpython-39.pyc
src/app/examples/migrations/__pycache__/0004_alter_example_generated_video_alter_example_preview_and_more.cpython-38.pyc
src/app/examples/migrations/__pycache__/0004_alter_example_generated_video_alter_example_preview_and_more.cpython-39.pyc
src/app/examples/migrations/__pycache__/0005_remove_example_dest_text_remove_example_source_text_and_more.cpython-38.pyc
src/app/home/__pycache__/__init__.cpython-38.pyc
src/app/home/__pycache__/__init__.cpython-39.pyc
src/app/home/__pycache__/__init__.cpython-311.pyc
src/app/home/__pycache__/admin.cpython-38.pyc
src/app/home/__pycache__/admin.cpython-39.pyc
src/app/home/__pycache__/admin.cpython-311.pyc
src/app/home/__pycache__/apps.cpython-38.pyc
src/app/home/__pycache__/apps.cpython-39.pyc
src/app/home/__pycache__/apps.cpython-311.pyc
src/app/home/__pycache__/forms.cpython-38.pyc
src/app/home/__pycache__/forms.cpython-39.pyc
src/app/home/__pycache__/forms.cpython-311.pyc
src/app/home/__pycache__/models.cpython-38.pyc
src/app/home/__pycache__/models.cpython-39.pyc
src/app/home/__pycache__/models.cpython-311.pyc
src/app/home/__pycache__/urls.cpython-38.pyc
src/app/home/__pycache__/urls.cpython-39.pyc
src/app/home/__pycache__/urls.cpython-311.pyc
src/app/home/__pycache__/views.cpython-38.pyc
src/app/home/__pycache__/views.cpython-39.pyc
src/app/home/__pycache__/views.cpython-311.pyc
src/app/home/functions/__pycache__/functions.cpython-38.pyc
src/app/home/functions/__pycache__/functions.cpython-39.pyc
src/app/home/functions/__pycache__/functions.cpython-311.pyc
src/app/home/__pycache__/__init__.cpython-38.pyc
src/app/home/__pycache__/admin.cpython-38.pyc
src/app/home/__pycache__/apps.cpython-38.pyc
src/app/home/__pycache__/forms.cpython-38.pyc
src/app/home/__pycache__/models.cpython-38.pyc
src/app/home/__pycache__/urls.cpython-38.pyc
src/app/home/__pycache__/views.cpython-38.pyc
src/app/examples/__pycache__/__init__.cpython-38.pyc
src/app/examples/__pycache__/__init__.cpython-39.pyc
src/app/examples/__pycache__/__init__.cpython-311.pyc
src/app/examples/__pycache__/admin.cpython-38.pyc
src/app/examples/__pycache__/admin.cpython-39.pyc
src/app/examples/__pycache__/admin.cpython-311.pyc
src/app/examples/__pycache__/apps.cpython-38.pyc
src/app/examples/__pycache__/apps.cpython-39.pyc
src/app/examples/__pycache__/apps.cpython-311.pyc
src/app/examples/__pycache__/models.cpython-38.pyc
src/app/examples/__pycache__/models.cpython-39.pyc
src/app/examples/__pycache__/models.cpython-311.pyc
src/app/examples/__pycache__/urls.cpython-38.pyc
src/app/examples/__pycache__/urls.cpython-39.pyc
src/app/examples/__pycache__/views.cpython-38.pyc
src/app/examples/__pycache__/views.cpython-39.pyc
src/app/examples/__pycache__/__init__.cpython-38.pyc
src/app/examples/__pycache__/admin.cpython-38.pyc
src/app/examples/__pycache__/apps.cpython-38.pyc
src/app/examples/__pycache__/models.cpython-38.pyc
src/app/examples/__pycache__/urls.cpython-38.pyc
src/app/examples/__pycache__/views.cpython-38.pyc
src/app/video_translation/__pycache__/__init__.cpython-38.pyc
src/app/video_translation/__pycache__/__init__.cpython-39.pyc
src/app/video_translation/__pycache__/__init__.cpython-311.pyc
src/app/video_translation/__pycache__/admin.cpython-38.pyc
src/app/video_translation/__pycache__/admin.cpython-39.pyc
src/app/video_translation/__pycache__/admin.cpython-311.pyc
src/app/video_translation/__pycache__/apps.cpython-38.pyc
src/app/video_translation/__pycache__/apps.cpython-39.pyc
src/app/video_translation/__pycache__/apps.cpython-311.pyc
src/app/video_translation/__pycache__/models.cpython-38.pyc
src/app/video_translation/__pycache__/models.cpython-39.pyc
src/app/video_translation/__pycache__/models.cpython-311.pyc
src/app/video_translation/__pycache__/urls.cpython-38.pyc
src/app/video_translation/__pycache__/urls.cpython-39.pyc
src/app/video_translation/__pycache__/urls.cpython-311.pyc
src/app/video_translation/__pycache__/views.cpython-38.pyc
src/app/video_translation/__pycache__/views.cpython-39.pyc
src/app/video_translation/__pycache__/views.cpython-311.pyc
src/app/video_translation/migrations/__pycache__/__init__.cpython-38.pyc
src/app/video_translation/migrations/__pycache__/__init__.cpython-39.pyc
src/app/web_base/__pycache__/__init__.cpython-38.pyc
src/app/web_base/__pycache__/__init__.cpython-39.pyc
src/app/web_base/__pycache__/__init__.cpython-311.pyc
src/app/web_base/__pycache__/settings.cpython-38.pyc
src/app/web_base/__pycache__/settings.cpython-39.pyc
src/app/web_base/__pycache__/settings.cpython-311.pyc
src/app/web_base/__pycache__/urls.cpython-38.pyc
src/app/web_base/__pycache__/urls.cpython-39.pyc
src/app/web_base/__pycache__/urls.cpython-311.pyc
src/app/web_base/__pycache__/wsgi.cpython-38.pyc
src/app/web_base/__pycache__/wsgi.cpython-39.pyc
src/app/web_base/__pycache__/__init__.cpython-38.pyc
src/app/web_base/__pycache__/settings.cpython-38.pyc
src/app/web_base/__pycache__/urls.cpython-38.pyc
src/app/web_base/__pycache__/wsgi.cpython-38.pyc
src/__pycache__/__init__.cpython-38.pyc
src/app/datadump.json
src/app/acks/__pycache__/__init__.cpython-38.pyc
src/app/acks/__pycache__/admin.cpython-38.pyc
src/app/acks/__pycache__/apps.cpython-38.pyc
src/app/acks/__pycache__/models.cpython-38.pyc
src/app/acks/migrations/__pycache__/__init__.cpython-38.pyc
src/app/acks/migrations/__pycache__/0001_initial.cpython-38.pyc
src/app/acks/migrations/__pycache__/0002_alter_acknowledge_icon.cpython-38.pyc
src/app/accounts/__pycache__/__init__.cpython-38.pyc
src/app/accounts/__pycache__/admin.cpython-38.pyc
src/app/accounts/__pycache__/apps.cpython-38.pyc
src/app/accounts/__pycache__/forms.cpython-38.pyc
src/app/accounts/__pycache__/models.cpython-38.pyc
src/app/accounts/__pycache__/urls.cpython-38.pyc
src/app/accounts/__pycache__/views.cpython-38.pyc
src/app/accounts/migrations/__pycache__/__init__.cpython-38.pyc
src/app/examples/__pycache__/__init__.cpython-38.pyc
src/app/examples/__pycache__/admin.cpython-38.pyc
src/app/examples/__pycache__/apps.cpython-38.pyc
src/app/examples/__pycache__/models.cpython-38.pyc
src/app/examples/__pycache__/urls.cpython-38.pyc
src/app/examples/__pycache__/views.cpython-38.pyc
src/app/examples/migrations/0006_alter_example_generated_video_and_more.py
src/app/examples/migrations/__pycache__/__init__.cpython-38.pyc
src/app/examples/migrations/__pycache__/0001_initial.cpython-38.pyc
src/app/examples/migrations/__pycache__/0002_example_preview.cpython-38.pyc
src/app/examples/migrations/__pycache__/0003_alter_example_generated_video_and_more.cpython-38.pyc
src/app/examples/migrations/__pycache__/0004_alter_example_generated_video_alter_example_preview_and_more.cpython-38.pyc
src/app/examples/migrations/__pycache__/0006_alter_example_generated_video_and_more.cpython-38.pyc
src/app/home/__pycache__/__init__.cpython-38.pyc
src/app/home/__pycache__/admin.cpython-38.pyc
src/app/home/__pycache__/apps.cpython-38.pyc
src/app/home/__pycache__/forms.cpython-38.pyc
src/app/home/__pycache__/models.cpython-38.pyc
src/app/home/__pycache__/urls.cpython-38.pyc
src/app/home/__pycache__/views.cpython-38.pyc
src/app/home/functions/__pycache__/functions.cpython-38.pyc
src/app/home/migrations/__pycache__/__init__.cpython-38.pyc
src/app/home/migrations/__pycache__/0001_initial.cpython-38.pyc
src/app/static/videos/cU6uE1uMnL0T9XSv.mp4
src/app/static/videos/hue57K4AjreeYCE6.mp4
src/app/static/videos/r2byx8odgvOOvCal.mp4
src/app/video_translation/__pycache__/__init__.cpython-38.pyc
src/app/video_translation/__pycache__/admin.cpython-38.pyc
src/app/video_translation/__pycache__/apps.cpython-38.pyc
src/app/video_translation/__pycache__/models.cpython-38.pyc
src/app/video_translation/__pycache__/urls.cpython-38.pyc
src/app/video_translation/__pycache__/views.cpython-38.pyc
src/app/video_translation/migrations/__pycache__/__init__.cpython-38.pyc
src/app/web_base/__pycache__/__init__.cpython-38.pyc
src/app/web_base/__pycache__/settings.cpython-38.pyc
src/app/web_base/__pycache__/urls.cpython-38.pyc
src/app/web_base/__pycache__/wsgi.cpython-38.pyc
src/core/__pycache__/__init__.cpython-38.pyc
src/core/__pycache__/audio_video_separation.cpython-38.pyc
src/core/__pycache__/join_audio_video.cpython-38.pyc
src/core/__pycache__/main.cpython-38.pyc
src/core/__pycache__/speech_to_text.cpython-38.pyc
src/core/__pycache__/text_to_speech.cpython-38.pyc
src/core/__pycache__/translation.cpython-38.pyc
src/core/common/__pycache__/__init__.cpython-38.pyc
src/core/common/__pycache__/audio_extraction.cpython-38.pyc
src/core/common/__pycache__/audio_time_stretch.cpython-38.pyc
src/core/common/__pycache__/common.cpython-38.pyc
src/core/common/__pycache__/config.cpython-38.pyc
src/core/common/__pycache__/errors.cpython-38.pyc
src/core/common/__pycache__/preprocess.cpython-38.pyc
src/core/temp/cU6uE1uMnL0T9XSv.wav
src/core/temp/hue57K4AjreeYCE6.wav
*.pyc
src/__pycache__/__init__.cpython-38.pyc
src/app/acks/__pycache__/__init__.cpython-38.pyc
src/app/acks/__pycache__/admin.cpython-38.pyc
src/app/acks/__pycache__/apps.cpython-38.pyc
src/app/acks/__pycache__/models.cpython-38.pyc
src/app/acks/migrations/__pycache__/__init__.cpython-38.pyc
src/app/acks/migrations/__pycache__/0001_initial.cpython-38.pyc
src/app/acks/migrations/__pycache__/0002_alter_acknowledge_icon.cpython-38.pyc
src/app/accounts/__pycache__/__init__.cpython-38.pyc
src/app/accounts/__pycache__/admin.cpython-38.pyc
src/app/accounts/__pycache__/apps.cpython-38.pyc
src/app/accounts/__pycache__/forms.cpython-38.pyc
src/app/accounts/__pycache__/models.cpython-38.pyc
src/app/accounts/__pycache__/urls.cpython-38.pyc
src/app/accounts/__pycache__/views.cpython-38.pyc
src/app/accounts/migrations/__pycache__/__init__.cpython-38.pyc
src/app/examples/__pycache__/__init__.cpython-38.pyc
src/app/examples/__pycache__/admin.cpython-38.pyc
src/app/examples/__pycache__/apps.cpython-38.pyc
src/app/examples/__pycache__/models.cpython-38.pyc
src/app/examples/__pycache__/urls.cpython-38.pyc
src/app/examples/__pycache__/views.cpython-38.pyc
src/app/examples/migrations/__pycache__/__init__.cpython-38.pyc
src/app/examples/migrations/__pycache__/0001_initial.cpython-38.pyc
src/app/examples/migrations/__pycache__/0002_example_preview.cpython-38.pyc
src/app/examples/migrations/__pycache__/0003_alter_example_generated_video_and_more.cpython-38.pyc
src/app/examples/migrations/__pycache__/0004_alter_example_generated_video_alter_example_preview_and_more.cpython-38.pyc
src/app/home/__pycache__/__init__.cpython-38.pyc
src/app/home/__pycache__/admin.cpython-38.pyc
src/app/home/__pycache__/apps.cpython-38.pyc
src/app/home/__pycache__/forms.cpython-38.pyc
src/app/home/__pycache__/models.cpython-38.pyc
src/app/home/__pycache__/urls.cpython-38.pyc
src/app/home/__pycache__/views.cpython-38.pyc
src/app/home/functions/__pycache__/functions.cpython-38.pyc
src/app/home/migrations/__pycache__/__init__.cpython-38.pyc
src/app/home/migrations/__pycache__/0001_initial.cpython-38.pyc
src/app/video_translation/__pycache__/__init__.cpython-38.pyc
src/app/video_translation/__pycache__/admin.cpython-38.pyc
src/app/video_translation/__pycache__/apps.cpython-38.pyc
src/app/video_translation/__pycache__/models.cpython-38.pyc
src/app/video_translation/__pycache__/urls.cpython-38.pyc
src/app/video_translation/__pycache__/views.cpython-38.pyc
src/app/video_translation/migrations/__pycache__/__init__.cpython-38.pyc
src/app/web_base/__pycache__/__init__.cpython-38.pyc
src/app/web_base/__pycache__/settings.cpython-38.pyc
src/app/web_base/__pycache__/urls.cpython-38.pyc
src/app/web_base/__pycache__/wsgi.cpython-38.pyc
src/core/__pycache__/__init__.cpython-38.pyc
src/core/__pycache__/main.cpython-38.pyc
src/core/__pycache__/speech_to_text.cpython-38.pyc
src/core/common/__pycache__/__init__.cpython-38.pyc
src/core/common/__pycache__/audio_extraction.cpython-38.pyc
src/core/common/__pycache__/common.cpython-38.pyc
src/core/common/__pycache__/config.cpython-38.pyc
src/core/common/__pycache__/errors.cpython-38.pyc
src/core/common/__pycache__/preprocess.cpython-38.pyc
src/app/video_translation/migrations/__pycache__/__init__.cpython-38.pyc
src/app/nohup.out
venv/
06a7ce62-d830-46ca-825c-41df25332d94.json
iconic-aloe-415006-16f2ae6eb878.json
omega-byte-379616-2271910f9b2b.json
.env
