

    <footer class="footer">
        <div class="container-fluid">
          <nav class="float-left">
            <ul>

              <li>
                <a target="_blank" rel="noopener noreferrer" 
                   href="/">
                   YML-Multilanguage
                </a>
              </li>

            </ul>
          </nav>

          <nav class="float-right">
            <ul>
              <li>
                2023
              </li>

            </ul>
          </nav>
          <!-- TODO copyright -->
        </div>
    </footer>
