{% extends "layouts/base.html" %}

{% block title %} Forgot Your Password? {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="row">
	<div class="col-md-5">
		<div class="card">
			<div class="card-header card-header-primary">
				<h4 class="card-title">
					Reset Password
				</h4>
			</div>
			<div class="card-body">
				<form role="form" method="post" action="">
				{% csrf_token %}
				{{ form.as_p }}
				<button type="submit" class="btn btn-primary">Send</button>
				
			</form>
			</div>
		</div>
	</div>
</div>

{% comment %} <div class="content-section">
    <h2>Reset Password</h2><hr>
 <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
 <form method="POST">
     {% csrf_token %}
     {{ form.as_p }}     
     <button class="btn btn-outline-info" type="submit">Send email</button>
 </form>
</div> {% endcomment %}
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
